.topiccard {
  width: 100%;
  min-height: 143px;
  display: flex;
  margin-bottom: 2rem;
  overflow: hidden;
}

.topiccard--box-1 {
  width: 15%;
}

.topiccard--box-2 {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topiccard--box-3 {
  display: flex;
  align-items: center;
}

.topiccard__avatar img {
  height: 2rem;
  object-fit: contain;
}

.topiccard--box-4 {
  display: flex;
}

.topiccard--box-6 {
  width: 70%;
}

.topiccard__image {
  width: 30%;
  overflow: hidden;
}

.topiccard__image img {
  width: 100%;
  object-fit: contain;
}

.topiccard--box-5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.topiccard__author p,
.topiccard__title h2,
.topiccard__snippet p {
  margin: 0;
}

.topiccard__title h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1rem;
  line-height: 1rem;
  max-height: 2rem;
}

.topiccard__snippet p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1rem;
  max-height: 2rem;
}

@media screen and (min-width: 550px) {
  .topiccard {
    height: 183px;
  }
}
