/* Reading list */

.readingList-favorite-icon {
  height: 1rem;
}

.readingList-title {
  margin-bottom: 1.5rem;
}

.readingList-title h2 {
  font-size: 1rem;
}

.readingList-list-empty {
  display: flex;
}

.readingList-list-empty p {
  line-height: 1.5rem;
}

.favorites-footer {
  display: flex;
  justify-content: space-between;
}

.favorites-cancel {
  border: none;
  cursor: pointer;
}

.favorites-cancel img {
  height: 1.5rem;
  object-fit: contain;
}

/* End Reading list */

/* Favorites styling */

.favorites ul li {
  margin-bottom: 3rem;
}

.favorites-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.favorites-avatar {
  height: 2rem;
  object-fit: contain;
  margin-right: 2rem;
}

.favorites-author h2 {
  font-size: 1rem;
  margin: 0;
}

.favorites-title {
  margin-bottom: 1rem;
}

.favorites-title h2 {
  font-size: 1rem;
  margin: 0;
}

/* End Favorites styling */
