/* social */
.social {
  width: 100%;
}

@media screen and (min-width: 266px) {
  .social {
    width: 250px;
  }
}
/* end social */

.social ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__favorite {
  border: none;
}

.social__favorite img {
  height: 2rem;
  object-fit: contain;
}
