/* home--box-1 */
.home--box-1 {
  width: 100%;
  position: relative;
}
/* end home--box-1 */

/* home--box-2 */
.home--box-2 {
  width: 100%;
  position: relative;
  top: var(--header);
}

/* end home--box-2 */

/* home banner */
.home__banner {
  width: 100%;
  padding-top: 50%;
  height: 0;
  background: var(--gradient-red-to-black), var(--gradient-green-to-black),
    var(--gradient-blue-to-black);
  color: var(--very-light-grey);
  display: flex;
  justify-content: center;
  background-position: center;
  position: relative;
}

@media screen and (min-width: 743px) {
  .home__banner {
    height: var(--banner);
    padding-top: 0;
  }
}

/* end home banner */

/* home--box-3 */
.home--box-3 {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (min-width: 743px) {
  .home--box-3 {
    justify-content: flex-start;
    width: 743px;
  }
}

@media screen and (min-width: 1192px) {
  .home--box-3 {
    width: 1192px;
  }
}

/* end home--box-3 */

/* home--box-4 */
.home--box-4 {
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 743px) {
  .home--box-4 {
    width: 75%;
    text-align: left;
  }
}

@media screen and (min-width: 1192px) {
  .home--box-4 {
    width: 60%;
  }
}

/* home--box-4 */

.home__hero {
  height: 100%;
  object-fit: contain;
}

.home--box-9 {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .home__seemore {
    text-align: center;
    background-color: #fff;
    padding: 0.5rem;
    color: #000;
    border: 1px solid #000;
    border-radius: 2rem;
    margin: 2rem 0;
  }
}

/* home__title */

.home__title {
  font-size: 6vw;
  margin: 0 0 3vw 0;
}

@media screen and (min-width: 743px) {
  .home__title {
    font-size: 3rem;
    margin: 0 0 2rem 0;
  }
}
/* end home__title */

/* home__description */
.home__description {
  font-size: 2.5vw;
  margin: 0;
}

@media screen and (min-width: 743px) {
  .home__description {
    font-size: 1rem;
  }
}

/* home__description */

/* home__content */
.home__content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.home--box-6 {
  width: 100%;
  display: flex;
  padding: 0 1rem;
}

.home--box-7 {
  width: 100%;
}

.home--box-8 {
  display: none;
}

@media screen and (min-width: 743px) {
  .home--box-6 {
    width: 743px;
    padding: 0;
  }
}

@media screen and (min-width: 1192px) {
  .home--box-6 {
    width: 1192px;
  }

  .home--box-7 {
    width: 70%;
    min-height: 500px;
  }

  .home__articles {
    border-right: 1px solid rgb(211, 193, 193);
    padding-right: 2rem;
  }

  .home--box-8 {
    display: block;
    width: 30%;
    padding-left: 2rem;
    position: relative;
  }

  .home--fixed {
    width: calc(1192px * 0.3);
    position: fixed;
    top: var(--header);
    left: 50%;
    transform: translate(66.5%, 0);
  }
}

/* end home__feed */
