.home {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home--box-1 {
  width: 100%;
  position: relative;
}

.home--box-2 {
  width: 100%;
  position: relative;
  top: calc(65px + 3rem);
  padding: 0 1rem;
}

.home--box-3 {
  display: none;
}

@media screen and (min-width: 743px) {
  .home--box-1 {
    width: 743px;
  }
}

@media screen and (min-width: 1192px) {
  .home--box-1 {
    width: 1192px;
  }

  .home--box-2 {
    padding: 0;
  }

  .home--box-4 {
    width: 70%;
    padding-right: 2rem;
    border-right: 1px solid rgb(219, 210, 210);
  }

  .home--box-3 {
    display: block;
    width: 1192px;
    position: fixed;
    top: calc(65px + 3rem);
  }

  .home--box-5 {
    width: 30%;
    position: absolute;
    right: 0;
    padding-left: 2rem;
  }
}
