.topicscreen__title h1 {
  text-transform: capitalize;
}

.topicscreen--box-6 {
  margin-bottom: 2rem;
  padding: 1rem 1rem 0.5rem 1rem;
  /* background: linear-gradient(rgb(67, 26, 179), #fff); */
  background: linear-gradient(rgb(132, 130, 139), #fff);
}

.topicscreen--box-7 {
  width: 100vw;
  position: fixed;
  top: calc(65px + 3rem);
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0.5rem 1rem;
  /* background: linear-gradient(rgb(67, 26, 179), #fff); */
  background: linear-gradient(rgb(132, 130, 139), #fff);
}

.text {
  font-size: 2rem;
  text-transform: capitalize;
}

.link {
  font-size: 1rem;
  font-weight: normal;
  vertical-align: middle;
}

.home--overflow {
  overflow-y: auto;
  padding-bottom: 20rem;
}

/* topic--box-3 */
.topic--box-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* end topic--box-3 */

/* topic__name */
.topic__name {
  color: #fff;
  text-transform: capitalize;
  font-size: 12vw;
}

@media screen and (min-width: 500px) {
  .topic__name {
    font-size: 4rem;
  }
}
/* end topic__name */

/* topic__banner */
.topic__banner {
  width: 100%;
  height: 0;
  padding-top: 30%;
  position: relative;
}

@media screen and (min-width: 623px) {
  .topic__banner {
    padding-top: 25%;
  }
}

@media screen and (min-width: 1192px) {
  .topic__banner {
    height: 300px;
    padding: 0;
    width: 100%;
  }
}

/* end topic__banner */

/* background colors */
.technology {
  background: var(--technology);
}

.money {
  background: var(--money);
}

.business {
  background: var(--business);
}

.productivity {
  background: var(--productivity);
}

.psychology {
  background: var(--psychology);
}

.mindfulness {
  background: var(--mindfulness);
}

.art {
  background: var(--art);
}
/* end background colors */
