.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__main {
  position: relative;
  top: calc(65px + 3rem);
  width: 100%;
}

.article__title {
  text-align: center;
  padding: 0 1rem;
}

.article__picture img {
  width: 100%;
  object-fit: contain;
}

.article--box-b {
  padding: 0 1rem;
  margin: 2rem 0;
}

.article--box-a {
  display: flex;
  padding: 1rem;
}

.article__avatar {
  margin-right: 1rem;
}

.article__avatar img {
  height: 2rem;
  object-fit: contain;
}

.article__author {
  margin-right: 1rem;
}

@media screen and (min-width: 743px) {
  .article__title,
  .article--box-a,
  .article--box-b,
  .article__picture {
    width: 743px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
