.topicscreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topicscreen--box-1 {
  position: relative;
  top: calc(65px + 3rem);
  width: 100%;
  padding: 0 1rem;
}

@media screen and (min-width: 743px) {
  .topicscreen--box-1 {
    width: 743px;
    padding: 0;
  }
}
