.topicscreen__title h1 {
  text-transform: capitalize;
}

.topicscreen--box-6 {
  margin-bottom: 2rem;
  padding: 1rem 1rem 0.5rem 1rem;
  /* background: linear-gradient(rgb(67, 26, 179), #fff); */
  background: linear-gradient(rgb(132, 130, 139), #fff);
}

.topicscreen--box-7 {
  width: 100vw;
  position: fixed;
  top: calc(65px + 3rem);
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0.5rem 1rem;
  /* background: linear-gradient(rgb(67, 26, 179), #fff); */
  background: linear-gradient(rgb(132, 130, 139), #fff);
}

.text {
  font-size: 2rem;
  text-transform: capitalize;
}

.link {
  font-size: 1rem;
  font-weight: normal;
  vertical-align: middle;
}

.home--overflow {
  overflow-y: auto;
  padding-bottom: 20rem;
}

@media screen and (min-width: 1192px) {
  .home--box-6 {
    margin-bottom: 4rem;
  }
}

/* topic__banner */
.topic__banner {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic--background {
  background-repeat: no-repeat;
  background-size: cover;
}

.topic__name h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 4rem;
}

/* end topic__banner */
