.profilescreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilescreen--box-1 {
  width: 100%;
  position: relative;
  top: calc(65px + 3rem);
  padding: 0 1rem;
}

.profilescreen__heading {
  margin-bottom: 2rem;
  padding: 1rem 0 0.5rem 0;
}

.profilescreen__placeholder {
  position: absolute;
  top: calc(65px + 3rem);
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0.5rem 1rem;
  background: linear-gradient(rgb(132, 130, 139), #fff);
  color: transparent;
}

.profilescreen--box-2 {
  height: calc(100vh - 50vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilescreen--box-3 {
  position: fixed;
  top: calc(65px + 3rem + 10rem);
  left: 50%;
  transform: translate(calc(-50% - 300%), 0);
}

/* profilescreen--text-align */
.profilescreen--text-align {
  text-align: center;
}
/* end profilescreen--text-align */

/* profilescreen--box-4 */
.profilescreen--box-4 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 350px) {
  .profilescreen--box-4 {
    margin-bottom: 0;
  }
}

/* end profilescreen--box-4 */

/* following */
.profilescreen--box-7 {
  margin-bottom: 2rem;
}

/* end following */

.profilescreen__item {
  margin-bottom: 2rem;
}

/* Author Profile component */
.authorprofile {
  width: 197px;
}

.authorprofile__avatar {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.authorprofile__avatar img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.authorprofile__story {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.authorprofile--box-1 {
  width: 100%;
  margin-top: 2rem;
}

.authorprofile__follow {
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #000;
  color: #fff;
  border-radius: 2rem;
}

/* End Author Profile component */

/* Fade-in component */

.fadein {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20vh);
  transition: opacity 1200ms ease-out, visibility 1200ms ease-out,
    transform 600ms ease-out;
  will-change: transform;
}

.fadein.isVisib {
  opacity: 1;
  visibility: visible;
  transform: none;
}

/* End Fade-in component */

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0;
}

@media screen and (min-width: 350px) {
  .breadcrumbs {
    margin-bottom: 2rem;
  }
}

/* End Breadcrumbs */

/* replies container */
.profilescreen--list-1 {
  width: 100%;
  overflow: hidden;
}

/* end replies container */

@media screen and (min-width: 743px) {
  .profilescreen--box-1 {
    width: 743px;
    padding: 0;
  }

  .profilescreen__heading {
    padding: 1rem 0 0.5rem 0;
  }
}
