.profilescreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilescreen--box-1 {
  width: 100%;
  position: relative;
  top: calc(65px + 3rem);
  padding: 0 1rem;
}

.profilescreen__heading {
  margin-bottom: 2rem;
  padding: 1rem 0 0.5rem 0;
}

.profilescreen__placeholder {
  position: absolute;
  top: calc(65px + 3rem);
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0.5rem 1rem;
  background: linear-gradient(rgb(132, 130, 139), #fff);
  color: transparent;
}

.profilescreen--box-2 {
  height: calc(100vh - 50vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilescreen--box-3 {
  position: fixed;
  top: calc(65px + 3rem + 10rem);
  left: 50%;
  transform: translate(calc(-50% - 300%), 0);
}

/* following */
.profilescreen--box-6 {
  display: flex;
  align-items: center;
}

.profilescreen--box-7 {
  margin-bottom: 2rem;
}

.profilescreen--spacer {
  margin-right: 1rem;
}

/* end following */

.profilescreen__item {
  margin-bottom: 2rem;
}

/* Author Profile component */
.authorprofile {
  width: 197px;
}

.authorprofile__avatar {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.authorprofile__avatar img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.authorprofile__story {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

/* End Author Profile component */

/* Fade-in component */

.fadein {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20vh);
  transition: opacity 1200ms ease-out, visibility 1200ms ease-out,
    transform 600ms ease-out;
  will-change: transform;
}

.fadein.isVisib {
  opacity: 1;
  visibility: visible;
  transform: none;
}

/* End Fade-in component */

/* Breadcrumbs */

.breadcrumbs {
  width: 100%;
  margin-bottom: 2rem;
}

.breadcrumbs ul {
  display: flex;
}

.breadcrumbs ul li {
  margin-right: 2rem;
}

.breadcrumbs__crumb {
  border: none;
  text-transform: capitalize;
  border: 1px solid #000;
  width: 8rem;
  border-radius: 2rem;
}

.breadcrumbs--active {
  background-color: rgb(143, 140, 150);
  border-color: rgb(143, 140, 150);
  color: #fff;
}

.breadcrumbs__crumb:hover {
  background-color: rgb(143, 140, 150);
  border-color: rgb(143, 140, 150);
  color: #fff;
}

@media screen and (max-width: 475px) {
  .breadcrumbs ul {
    flex-direction: column;
  }

  .breadcrumbs ul li,
  .breadcrumbs__crumb {
    width: 100%;
  }

  .breadcrumbs ul li {
    margin-bottom: 1rem;
  }

  .breadcrumbs__crumb {
    padding: 1rem;
  }
}

/* End Breadcrumbs */

/* replies container */
.profilescreen--list-1 {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
}

.profilescreen--list-1 li {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(155, 138, 138);
}

.profilescreen--box-4 {
  width: 414px;
}

.profilescreen__avatar {
  margin-right: 1rem;
}

.profilescreen__avatar img {
  height: 2rem;
  object-fit: contain;
}

.profilescreen--box-5 {
  display: flex;
  align-items: center;
}

.profilescreen__content {
  width: 100%;
  overflow: hidden;
}

.profilescreen__content img {
  width: 100% !important;
  object-fit: contain;
}

/* End replies container */

@media screen and (min-width: 743px) {
  .profilescreen--box-1 {
    width: 743px;
    padding: 0;
  }

  .profilescreen__heading {
    padding: 1rem 0 0.5rem 0;
  }
}
