.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__color {
  color: #fff;
  padding: 1rem;
  display: inline-block;
  border-radius: 50%;
  opacity: 0.5;
}

.avatar__initial {
  position: absolute;
  color: #fff;
  text-transform: capitalize;
}
