:root {
  /* variables */
  --banner: 400px;
  --header: calc(65px + 3rem);
  --sidemodal: 414px;
  --fontsize1: 1rem;
  --bright-red: red;
  --gradient-red-to-blue: linear-gradient(90deg, #e66465, #9198e5);
  --gradient-green-to-yellow: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  /* end variables */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#root {
  font-size: 16px;
}

button {
  cursor: pointer;
}

/* global fonts styles */

.logo {
  display: none;
}

@media screen and (min-width: 1192px) {
  .logo {
    font-weight: 100;
    text-transform: uppercase;
    display: block;
  }
}

/* end global fonts styles */
