.replies {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  padding: 0;
  height: 100vh;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  z-index: 1;
  background-color: #fff;
  overflow-y: auto;
  transition: width 0s;
}

.replies--box-1 {
  width: 100%;
}

.replies--box-1 img {
  max-width: 100%;
  object-fit: contain;
}

.replies--box-2 {
  margin-top: 2rem;
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(167, 152, 152);
}

.replies--box-3 {
  display: flex;
  align-items: center;
}

.replies__avatar {
  margin-right: 1rem;
}

.replies__avatar img {
  height: 2rem;
  object-fit: contain;
}

.replies__author p {
  margin: 0;
}

.replies--box-4 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.replies__close button {
  border: none;
}

.replies--open {
  width: 100%;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 15px 3px #000000;
  box-shadow: 0px 0px 15px 3px #000000;
}

.replies--close {
  width: 0px;
  padding: 0;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@media screen and (min-width: 414px) {
  .replies {
    width: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    padding: 0;
    transition: width 0.1s;
    transition-timing-function: ease-in-out;
  }

  .replies--open {
    width: 414px;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 15px 3px #000000;
    box-shadow: 0px 0px 15px 3px #000000;
  }

  .replies--close {
    width: 0px;
    padding: 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
}
